@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  font-family: "Inter Tight", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
}

.slick-slider {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 80px 0px;
}

@media (max-width: 768px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}


@layer base {
  body {
    @apply font-primary text-base text-secondary;
  }

  * {
    @apply border-border;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black;
  }

  .h1 {
    @apply font-primary text-[45px] xl:text-[60px] leading-none;
  }

  .h2 {
    @apply text-[36px] tracking-[-0.02em] leading-[44px] font-semibold;
  }

  .h3 {
    @apply text-[20px] font-semibold;
  }

  .lead {
    @apply text-xl;
  }

  .btn {
    @apply rounded-lg h-12 py-3 px-5;
  }

  .btn-accent {
    @apply bg-accent hover:bg-accent-hover text-white;
  }

  .input,
  .textarea {
    @apply w-full outline-none border border-[#d0d5dd] focus:border-accent rounded-lg placeholder:text-[#667085];
  }

  .input {
    @apply h-12 px-[14px];
  }

  .textarea {
    @apply resize-none p-[14px];
  }


  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }
}


.active {
  @apply text-accent transition-all duration-300;
}
